.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
  transition: 0.2s linear;
  z-index: 999;
}
.header_active {
  background: var(--bgColor);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;

  .logo {
  }
  .nav {
    font-size: 18px;
    line-height: 24px;

    .nav__list {
      display: flex;
    }
    .nav__item {
      margin-right: 82px;
      &:last-child {
        margin-right: 0;
      }
    }
    .nav__link {
      color: var(--textWhite);
      font-size: 18px;
      line-height: 24px;
      margin-right: 82px;
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 0.75;
      }
    }
  }
}

.header__burger {
  position: relative;
  width: 40px;
  height: 28px;
}
.burger {
  display: none;
}
.burger__line {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.burger__line_first {
  top: 0;
}
.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line_third {
  bottom: 0;
}
