.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;

  .logo {
  }
  .nav {
    font-size: 18px;
    line-height: 24px;

    .nav__list {
      display: flex;
    }
    .nav__item {
      margin-right: 82px;
      &:last-child {
        margin-right: 0;
      }
    }
    .nav__link {
      color: var(--textWhite);
      font-size: 18px;
      line-height: 24px;
      margin-right: 82px;
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &:active,
      &:focus {
        opacity: 0.75;
      }
    }
  }
}

// ================  MAIN  =======================
.main {
}
.intro {
  height: 100vh;
  padding-top: 263px;
  background: url("../../../img/main/intro/intro-bg.jpg") no-repeat center;
  background-size: cover;

  &__title {
    max-width: 619px;
    margin-bottom: 22px;
  }
  &__text {
    max-width: 546px;
    margin-bottom: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--textWhite);
  }
  .search-form {
    // max-width: 886px;
    // &__info {
    //   display: flex;
    // }
    &__input {
      padding-left: 43px;
      padding-bottom: 2px;
      background: url("../../../img/main/intro/circl-icon.svg") no-repeat left
        top;
      background-size: 20px;
      margin-right: 60px;
      // background: transparent;
      border-bottom: 2px solid #bfc0c5;
      width: 297px;
      height: 49px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: var(--textWhite);
    }
    &__input::placeholder {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: var(--textWhite);
    }
    &__input:last-child {
      margin-right: 0;
    }
    &__submit {
      background: rgba(27, 125, 255, 1);
      padding: 0 39px;
      font-weight: 500;
      font-size: 24px;
      // line-height: 29px;
      line-height: 58px;

      color: var(--textWhite);
    }
  }
}
