.benefits {
  margin-bottom: 131px;
}
.benefits-wrap {
  position: relative;
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits__title {
  width: 100%;
  padding: 93px 100px 88px 100px;

  position: absolute;
  top: 0;
  left: 0;
  color: #102746;
  transform: translateY(-99%);
  background-color: #fff;
}

.benefits-cards {
  display: grid;
  padding: 32px 100px 112px;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
  .benefit-card {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    max-width: 317px;

    .card__img {
      max-width: 66px;
      margin-bottom: 37px;
    }
    .card__title {
      margin-bottom: 26px;
    }
    .card__desc {
      margin-bottom: 39px;
    }
    .benefit-card__link {
      width: 170px;
      // width: 100%;
      margin: auto 0 0 0;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 33px;
    //   height: 8px;
    //   top: 6px;
    //   right: -33px-26px;
    //   background-image: url(../../../img/main/benefits/arrow.svg);
    // }
  }
}
