.inspired {
  margin-bottom: 131px;
}

.inspired-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
}
.inspired__title {
  margin-right: 15px;
}

.inspireds-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;

  .inspired-card {
    position: relative;
    overflow: hidden;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(21, 24, 36, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &:hover .inspired-card__img {
      transform: scale(1.05);
    }
    .inspired-card__img {
      width: 100%;
      transition: all 0.2s ease-in;
    }
    .inspired-card__img--lg {
      height: 354px;
      object-fit: cover;
    }
    .inspired-card__img--sm {
      height: 283px;
      object-fit: cover;
    }
    .inspired-card__title {
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      color: var(--textWhite);
      position: absolute;
      bottom: 27px;
      left: 30px;
      z-index: 3;
    }
    .inspired-card__link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 5;
    }
  }

  .inspired-card__item--lg {
    grid-column: span 3;
  }

  .inspired-card__item--sm {
    grid-column: span 2;
  }
}
