.tours {
  margin-bottom: 139px;
}

.tours-wrap {
}
.tour {
}
.tours__item {
  align-items: center;
  margin-right: 47px;
  margin-bottom: 77px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 108px;
  &:nth-child(2n) {
    margin-right: 0;
    margin-left: 47px;
  }
}

.tour__pic {
  .tour__img {
  }
}

.tour__info {
  .tour__title {
    // margin-top: 26px;
    margin-bottom: 85px;
  }

  .tour__desc {
    margin-bottom: 58px;
    max-width: 519px;
    max-height: 152px;
    overflow: hidden;
    color: var(--titleBlue);
    overflow: hidden;
  }
  .tour__link {
    // margin-bottom: 49px;
  }
}
