// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.none {
  display: none !important;
}

.container {
  // 1062px
  max-width: $container--laptop;
  // padding: 0 15px;
  margin: 0 auto;
}
.container-lg {
  // 1264px
  max-width: $container--lg;
  // padding: 0 15px;
  margin: 0 auto;
}

.accent {
  color: var(--accent-color);
}
.title1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: var(--textWhite);
}
.title2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: var(--title2);
}
.title3 {
}
