// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.main {
  // counter-reset: h2;
}

.none {
  display: none !important;
}

.container {
  // 1092px
  max-width: $container--laptop;
  padding: 0 15px;
  margin: 0 auto;
}
.container-lg {
  // 1294px
  max-width: $container--lg;
  padding: 0 15px;
  margin: 0 auto;
}

.accent {
  color: var(--accent-color);
}
.title1 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: var(--textWhite);
}
.title2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 42px;
  color: var(--titleBlue);
  // &::before {
  //   content: "Section " counter(h2) ". ";
  //   counter-increment: h2;
  // }
}
.title3 {
  font-weight: 600;

  font-size: 30px;
  line-height: 40px;
  color: var(--titleBlue);
}
.title4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.title-line {
  position: relative;
  padding-bottom: 10px;
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 253px;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #006dfe;
  }
}

.base__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;

  display: inline-block;
  padding-right: 69px;
  // background: url(../../../img/base/arrow.svg) no-repeat 90% center;
  background: url("../img/base/arrow.svg") no-repeat 90% center;
  transition: 0.2s ease-in all;

  &:hover,
  &:focus {
    // background: url(../../../img/base/arrow.svg) no-repeat right center;
    background: url("../img/base/arrow.svg") no-repeat right center;
  }
}
