// Адаптивные свойства
$maxWidth: 1920;
$maxWidthContainer: 1200;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;

  @if $type==1 {
    // Только если меньше контейнера
    #{$property}: $startSize + px;

    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    // Только если больше контейнера
    #{$property}: $startSize + px;

    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    // Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

// https://www.youtube.com/watch?v=eaOAY0vIB4U&list=PLM6XATa8CAG6IJvQBkrTTNZmpIcyS2Avk&index=38

// .block__container {
//   max-width: 1200px;
//   padding: 0 15px;
//   margin: 0 auto;
// }

// .block__body {
//   padding: 50px;
// }

// .block__title {//   font-size: 30px;
//   line-height: 130%;
//   margin: 0 0 20px 0;
// }

// @media (max-width: 1200px) {
//   .block__body {
//     padding: calc(20px + (50-20) * ((100vw-320px) / (1200 - 320)));
//   }
//   .block__title {
//     font-size: calc(30px + (30-20) * ((100vw-320px) / (1200 - 320)));
//     margin: calc(10px + (20-10) * ((100vw-320px) / (1200 - 320)));
//   }
// }
/* Для .block__body
1. 20px минимальный размер в данном случае для paddinga который я хочу увидеть на разрешение для адаптива на 320px
2. 50 это начальное значение и от него отнимаем минимальное
3. 1200 ширина ограничевающего контейнера */

/* 
1. 20px минимальный размер в данном случае для paddinga который я хочу увидеть на разрешение для адаптива на 320px
2. 50 это начальное значение и от него отнимаем минимальное
3. 1200 ширина ограничевающего контейнера */
