:root {
  --accent-color: #49a144;

  //   --gap: 16px 16px;
  //   --bg-footer: #262626;
  //   --bg-button: #262626;
  //   --btn-up: #59bd5a;
  //   --bg-card-active: #979797;
  //   --bg-card-active: #757575;
  //   --bg-white: #fff;
  //   --gray-line: rgba(117, 117, 117, 0.4);

  //   --white-line: #fff;

  //   --textBlack: #1d1d1d;

  //   --colorBlack: #1d1d1d;
  //   --textGray: #626262;
  //   --textWhite: #fff;

  //   --container--laptop: 978px;
  //   --container--tablet: 768px;
  //   --container--mobile: 308px;

  //   --breakpoint--laptop: 1124px;
  //   --breakpoint--tablet: 768px;
  //   --breakpoint--mobile: 320px;
}
$container--laptop: 978px;
$container--tablet: 768px;
$container--mobile: 308px;

$breakpoint--laptop: 1124px;
$breakpoint--tablet: 769px;
$breakpoint--mobile: 320px;
// // $bg-footer: #262626;
// // $btn-up: #59bd5a;
// // // $bg-card-active: #979797;
// // $bg-card-active: #757575;

// // // $buttonWhite: #fff;
// // // $buttonBlue: #275bec;
// // // $bgBlue: #1e4776;
// // $textBlack: #1d1d1d;
// // $textGray: #626262;
// // $textWhite: #fff;

// // // $textBlue: #7e9ec9;

// // $accent-color: #327430;
// // // $accent-color-hover: #ff6a00;
// // $accent-color-hover: #1e4776;
// // $title2: #323232;
// // $black-color: #323232;
// // $black-color: #323252;
