:root {
  --accent-color: #49a144;
  --textWhite: #fff;
  --titleBlue: #102746;
  --buttonBlue: #006dfe;
  --bgColor: #0e1d28;
}
$container--laptop: 1092px;
$container--lg: 1294px;

$breakpoint--4k: 1921px;
$breakpoint--laptop: 1124px;
$breakpoint--tablet: 769px;
$breakpoint--mobile: 320px;
